@model IPagedList<HaberPortali.Data.Model.Kategori>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Global.js"></script>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            KategoriAdi
        </th>
        <th>
            ParentID
        </th>
        <th>
            Url
        </th>
        <th>
            AddDate
        </th>
        <th>
            IsDeleted
        </th>
        <th>
            IsActive
        </th>
        <th>
            DeleteDate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KategoriAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeleteDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @*@Html.ActionLink("Kategori","Sil", new { id=item.ID },new { @onclikc= "KateGoriSil()" })*@
            
 <button class="btn btn-primary btn-sm" id="KategoriDelete" onclick="KateGoriSil(@item.ID);" data-id="@item.ID">sil</button>

        </td>
    </tr>
}

</table>

<div class="pagedList">
    @Html.PagedListPager(Model, sayfa => Url.Action("Index", new { sayfa }), PagedListRenderOptions.PageNumbersOnly)
</div>